<my-header></my-header>
<couple-info></couple-info>
<engagement-hightlights></engagement-hightlights>
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You Are Invited</h1><br>
    <h2>Of course..</h2>
  </div>
</div>
<wedding-info></wedding-info>
<rsvp></rsvp>
<nav-footer></nav-footer>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Developed by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-text-green">Rupesh Jaiswal</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px">&nbsp;</div>
